	<div class="internet-school-nav" v-if="hasInit" >
		<div v-for="subItem1 in data.nodeList" class="school-nav school-nav-sub1"><!-- 业务域层级 -->
			<h2>{{subItem1.nodeName}}<i class="direction-icon"></i></h2>
			<ul class="school-content-list">
				<li v-for="subItem2 in subItem1.children" class="internet-school-nav-item line-start "><!-- 机构层级 -->
					<div class="school-nav current-nav ">
						<!-- <i class="dashline-absolute-top"></i> -->
						<i class="dashline-absolute-bottom"></i>
						<span class="hide float-left fold-icon">-</span>
						<span class="float-left fold-icon">+</span>
						<h3 class="float-left">{{subItem2.nodeName}}</h3>
					</div>
					<ul class="school-content-item space-indent-1 ">
						<li v-for="subItem3 in subItem2.children" class=""><!-- 业务单元层级 如果业务单元需要折叠，需要给这li元素添加calss：fold-item -->
							<div class="school-nav ">
								<!-- <i class="dashline-absolute-top"></i>	 -->
								<i class="dashline-absolute-bottom"></i>
								<i class="dashline-absolute-left"></i>
								<span class="hide float-left fold-icon">-</span>
								<span class="float-left fold-icon">+</span>
								<h3 class="float-left">{{subItem3.nodeName}}</h3>
							</div>
							<ul class="school-content-item space-indent-1">
								<li v-for="subItem4 in subItem3.children" class="fold-item"><!-- 业务单元层级 -->
									<div class="school-nav first-child">
										<!-- <i class="dashline-absolute-top"></i>	 -->
										<i class="dashline-absolute-bottom"></i>
										<i class="dashline-absolute-left"></i>
										<span class="hide float-left fold-icon">-</span>
										<span class="float-left fold-icon">+</span>
										<h3 class="float-left">{{subItem4.nodeName}}</h3>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>



















	
