<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../../../common/styles/bootstrap.min.css" >
	<link rel="stylesheet" href="../../../build/pages/common.css">
	<link rel="stylesheet" href="./pop.scss">
	<title>Document</title>
</head>
<body>
	<div style="height: 100%;width: 100%;position: absolute; overflow: hidden;">
		<div class="ui-pop-alert">
			<div class="ui-pop-alert-inner">
				<div class="ui-pop-title ui-pop-center">
					<span class="ui-pop-title-content">新增</span>
					<i class="ui-pop-close">×</i>
				</div>
				<div class="ui-pop-content">
					
				</div>
				<div class="ui-pop-btns-wrap">
					<div class="ui-pop-btns-inner">
							<span class="ui-pop-btns ui-pop-btns-submit">新增</span>
							<span class="ui-pop-btns">取消</span>
					</div>
						
				</div>
			</div>
		</div>
	</div>
</body>
</html>