	<div>
		<div class="tree-level-1-title">
			<h2>基本信息</h2> <span class="basic-btns basic-add-btns">+新增业务单元</span>
		</div>
		<div class="tree-level-1-info">
			<ul>
				<li>
					<span>组织代码:</span>
					<span>2345</span>
				</li>
				<li>
					<span>组织名称:</span>
					<span>2345</span>
				</li>
				<li>
					<span>组织所属层:</span>
					<span>2345</span>
				</li>
				<li>
					<span>组织代码:</span>
					<span>2345</span>
				</li>
				<li>
					<span>组织名称:</span>
					<span>2345</span>
				</li>
				<li>
					<span>组织所属层:</span>
					<span>2345</span>
				</li>
				<li>
					<span>组织所属层:</span>
					<span>2345</span>
				</li>
			</ul>
			<div class="btns-out-wrapper">
				<div class="btns-wrapper">
					<span class="basic-btns">编辑本组织</span>
					<span class="basic-btns">删除本组织</span>
				</div>
			</div>
				
		</div>
	</div>
