.tree-level-1-title{
	overflow: hidden;
}
.tree-level-1-info{
	float: left;
	overflow: hidden;
}
.tree-level-1-list{
	clear: both;
}
.tree-level-1-info ul{
	overflow: hidden;
	width: 39rem;
}
.tree-level-1-info li{
	line-height: 3rem;
	float: left;
	height: 3rem;
	width:13rem;
	text-align: left;
}
