	<div v-if="hasInit">
		<div class="tree-level-1-title" v-on:click="createPop">
			<h2>基本信息</h2>
			<span v-for="btn in data.btns" :class="{'basic-btns':true, 'basic-add-btns':true,'js_baseic_sub_btn':btn.isSub,'js_basic_btn':!btn.isSub}" :data-content="btn.txt">{{btn.txt}}</span>
		</div>
		<div class="tree-level-1-info">
			<ul class="content-item-wrapper">
				<li class="content-item">
					<span>组织代码:</span>
					<span>{{data.info.id}}</span>
				</li>
				<li class="content-item">
					<span>组织名称:</span>
					<span>{{data.info.nodeName}}</span>
				</li>
				<li class="content-item">
					<span>父级组织代码:</span>
					<span>{{data.info.parentId}}</span>
				</li>
				<li class="content-item">
					<span>父级组织名称:</span>
					<span>{{data.info.parentName}}</span>
				</li>
				<li v-for="nodeAttr in data.info.nodeAttr" :class="{'content-item':true,'innerData':nodeAttr.data?true:false }" >
					<span>{{nodeAttr.name}}:</span>
					<span :class="{'content-color1':nodeAttr.data?true:false}">{{nodeAttr.value}}</span>
					<ul class="popContent" v-if="nodeAttr.data">
						<li class="icon-arrow"></li>
						<li v-for="unit in nodeAttr.data.sameNode">
							<div v-for="ele in unit.data"><!-- 组织代码：10231 组织名称：456321 -->
								<span >{{ele.name}}:</span><span class="mr-1">{{ele.value}}</span>
							</div>
						</li>
					</ul>
				</li>
				<!-- <li class="content-item innerData">
					<span>沪江:</span>
					<span>4</span>
					<ul class="popContent">
						<li class="icon-arrow"></li>
						<li><span>组织代码:</span><span class="mr-1">10234</span><span>组织名称:</span><span>成人口语销售</span></li>
					</ul>
				</li> -->

			</ul>
			<div class="btns-out-wrapper">
				<div class="btns-wrapper">
					<span class="basic-btns" :data-title="'删除'+data.info.busTypeText" @click="editUnit" >编辑本组织</span>
					<span class="basic-btns" :data-title="'删除'+data.info.busTypeText" @click="deleteUnit">删除本组织</span>
				</div>
			</div>
		</div>
	</div>