.tree-level-1-title{
	overflow: hidden;
}
.internet-school-content{
	width:40rem;
	overflow: hidden;
	height: 100%;
	float: left;
	margin-top: 0.2rem;
	padding-left: 1.2rem;
	margin-left: 9rem;
}
.internet-school-content h2{
	height: 2.5rem;
	line-height: 2.5rem;
	float: left;
}
.tree-level-1-info{
	float: left;
	overflow: hidden;
}
.tree-level-1-list{
	clear: both;
}
.tree-level-1-info ul{
	overflow: hidden;
	width: 39rem;
}
.tree-level-1-info li{
	line-height: 3rem;
	float: left;
	height: 3rem;
	width:13rem;
	text-align: left;
}

.btns-out-wrapper{
	overflow: hidden;
	text-align: center;
}
.btns-wrapper{
	overflow: hidden;
	height: 3rem;
	width: 16rem;
	margin: 2rem auto;
}
.basic-btns{
	margin: 0.5rem;
	border: 1px solid #EAEAEA;
	border-radius: 0.3rem;
	float: left;
	height: 1.5rem;
	width: 6rem;
	line-height: 1.5rem;
	text-align: center;
}
.basic-add-btns{
	float: right;
	background-color: #5E5E5E;
	color: #ffffff;
}

